<h1>Refactor your Entry.</h1>
<br>
<%= simple_form_for @fact do |f| %>
  <%= f.input :title, label: 'What\'s the concept?' %>
  <br>
  <%= f.input :blurb, label: 'How would you explain it to a child?'%>
  <br>
  <%= f.input :category, as: :radio_buttons, collection: [['coding', 'Coding'], ['science', 'Science'], ['other', 'Other']], label_method: :second, value_method: :first %>
  <br>
  <%= f.submit 'Update', class: 'btn btn-danger' %>

<% end %>
