<h1>Pour your knowledge.</h1>
<br>
<%= simple_form_for @fact do |f| %>
  <%= f.input :title, label: 'What\'s the concept?', input_html: { minlength: 3, maxlength: 50 } %>
  <br>
  <%= f.input :blurb, label: 'How would you explain it to a child?', input_html: { minlength: 3 } %>
  <br>
  <%= f.input :category, as: :radio_buttons, collection: [['0', 'Coding'], ['1', 'Science'], ['1', 'Other']], label_method: :second, value_method: :first %>
  <br>
  <%= f.submit 'Create', class: 'btn btn-danger' %>

<% end %>
