<h1><%= @fact.title %></h1>
<h2><%= @fact.blurb %></h2>
<p><%= @fact.category %></p>
<%= link_to 'Edit', edit_fact_path(@fact), class: 'btn btn-warning' %>
<%= link_to 'Delete', '#', class: 'btn btn-danger' %>
