<h1><%= @fact.title %></h1>
<h2><%= @fact.blurb %></h2>
<p><%= @fact.category %></p>
<%= link_to 'Edit', edit_fact_path(@fact), class: 'btn btn-warning' %>
<%= link_to 'Destroy', fact_path(@fact), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: 'btn btn-danger' %>
