<h1><%= @facts.title %></h1>
<h2><%= @facts.blurb %></h2>
<p><%= @facts.category %></p>
<%= link_to 'Edit', edit_fact_path(@fact), class: 'btn btn-warning' %>
<%= link_to 'Delete', '#', class: 'btn btn-danger' %>
