<h1><%= @fact.title %></h1>
<h2><%= @fact.blurb %></h2>
<p><%= @fact.category %></p>
<div class="float-right">
<% if current_user && current_user == @fact.user %>
  <%= link_to 'Edit', edit_fact_path(@fact), class: 'btn btn-warning' %>
  <%= link_to 'Destroy', fact_path(@fact), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: 'btn btn-danger' %>
<% end %>
</div>
<div class="clear"></div>
<%= simple_form_for @comment, url: fact_comments_path(@fact) do |f| %>
  <%= f.input :message %>
  <%= f.submit "Add a Comment", class: 'btn btn-primary' %>
<% end %>
