<!DOCTYPE html>
<html>
  <head>
    <title>Feynmanizer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='row top'>
      <div class='col-3'>
        <%= image_tag("feynman.png",  alt: "Feynman", class: "feynman-img") %>
      </div>
      <div class="col-5 tagline">
        Complex concepts boiled down with the Feynman technique.
      </div>
      <div class="col-4 links">

          <%= link_to 'Contribute', '#', class: 'no-drop' %>
          <%= link_to 'About', '#', class: 'no-drop' %>

        <div class="dropdown">
          <button class="dropbtn">Categories</button>
          <div class="col-3 dropdown-content">
            <%= link_to 'Coding', '#' %>
            <%= link_to 'Science', '#' %>
          </div>
        </div>
      </div>
    </header>

    <br class='clear'>
    <div class="container">
      <%= yield %>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <%= link_to 'Give me a new concept!', '#', class: 'next-quote' %>
          </div>
          <div class="col-6 footer-blurb">
            Proudly hacked by <a href="https://arieloring.netlify.com/">Arielle Loring.</a><br />
          </div>

        </div>

      </div>

    </div>

  </body>
</html>
